.maincontainer {
    width: 95vw;
    height: 300vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #40f, #05f);
  }
  
  .wrapper {
    width: 350px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translateX(-2%) translateY(-50%);
  }
  
  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    // background-image: url(https://picsum.photos/200/300);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
  }
  
  .item {
    width: inherit;
    height: inherit;
    background: white;
    // background-image: url(https://picsum.photos/201/300);
    transform-origin: 50% 100%;
  }
  